.leftPanelContainer {
  display: flex;
  flex-direction: column;
  width: 73%;
  padding: 4% 10%;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 376px) {
  .leftPanelContainer {
    width: 100%;
  }
}
