.mainContainer {
  padding: 17% 0%;
}

.mainContainer h1:first-of-type {
  color: hsl(0, 36%, 70%);
  font-weight: unset;
}

.mainContainer h1 {
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 50px;
  letter-spacing: 9.5px;
}

.mainContainer p {
  color: hsl(0, 36%, 70%);
  line-height: 1.7;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  margin: 14px 0 25px;
}

.formContainer {
  display: flex;
  height: 40px;
  position: relative;
}

.formContainer input {
  background: transparent;
  border: 1px solid hsl(0, 36%, 70%, 0.7);
  width: 50%;
  border-radius: 20px;
}

.formContainer input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 36%, 70%, 0.5);
  font-size: 11px;
  padding-left: 8%;
  letter-spacing: 0.3px;
  font-weight: bold;
}

.imgContainer {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  right: 45%;
  width: 73px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.imgContainer img {
  margin: 10px;
}

@media (max-width: 376px) {
  .mainContainer {
    padding: 22% 0%;
  }

  .mainContainer h1{ 
    text-align: center;
    font-size: 43px;
  }

  .mainContainer p br {
    display: none;
  }

  .mainContainer P {
    text-align: center;
  }

  .formContainer {
    height: 46px;
  }

  .formContainer input {
    width: 92%;
  }

  .imgContainer {
    left: 78%;
    width: 60px;
    height: 47px;
    border-radius: 23px;
  }

  .imgContainer img {
    margin: 13px
  }

  .formContainer input::placeholder {
    font-size: 13px;
  }
}
